/* CSS reset */
body,
input,
textarea,
div,
a,
table,
tr,
td,
th {
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI", sans-serif;
  font-size: 14px;
}

body {
  color: #333;
  background-color: transparent;
  -webkit-text-size-adjust: none;
}

body,
div,
dl,
dt,
dd,
ul,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div[name="rtf_docContent"] table {
  margin-left: 0.6pt !important;
}

fieldset,
img {
  border: 0;
}

div[name="rtf_docContent"] pre {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word !important;

}


.cke_editable pre {
  white-space: pre-wrap;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #3eb2e6;
}

abbr,
acrnym {
  border: 0;
}

input::-ms-clear {
  display: none;
}

/*输入框的小叉叉图标消失*/
*:focus {
  outline: none;
}

/* 去掉输入框点击时的边框 */
.cke_editable {
  padding: 5px;
  height: 95%;
}

.cke_editable ul {
  padding-left: 40px;
  margin: auto;
  list-style: disc;
}

/*系统全局功能*/
.textEllipsis {
  width: 99%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clr {
  clear: both
}

.clearfloat {
  zoom: 1;
}

/*@清除浮动 */
.clearfloat:after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
  visibility: hidden;
}

/*边框 Starts*/
.lui_border_t {
  border-top: 1px solid #384b69;
}

.lui_border_b {
  border-bottom: 1px solid #384b69;
}

.lui_border_l {
  border-left: 1px solid #384b69;
}

.lui_border_r {
  border-right: 1px solid #384b69;
}

/*文本颜色 Starts*/
.lui_text_primary {
  color: #51b6ec;
}

/*主色值*/
.lui_text_alter {
  color: #30a4dc;
}

/*主色交互色值*/

.lui_text_info {
  color: #333;
}

/*默认文本*/
.lui_text_muted {
  color: #999;
}

/*弱化文本*/

.lui_text_warning {
  color: #f19703;
}

/*警告*/
.lui_text_danger {
  color: #ea4335;
}

/*危险*/

/*文本颜色 Ends*/


/*@置顶*/
.com_goto {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 50px;
  z-index: 1030;
}

.lui_profile_list_body.lui_profile_list_export_body {
  padding-bottom: 65px;
}

.lui_profile_list_body .com_goto {
  bottom: 25px;
}

.lui_profile_list_body .lui_profile_table_form {
  padding-bottom: 85px;
}

.com_export {
  background: url(/ekp/sys/ui/extend/theme/default/images/export.png) no-repeat center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ccc !important;
}

.com_export:hover {
  background-color: #dfdfdf;
}

/* 二维码 Starts */
.com_qrcode {
  background: url(/ekp/sys/ui/extend/theme/default/images/qrcode.png) no-repeat center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ccc !important;
}

.com_qrcode:hover {
  background-color: #dfdfdf;
}

/* 二维码 Ends */

/* 群聊 Starts */
.com_group {
  background: url(/ekp/sys/ui/extend/theme/default/images/group.png) no-repeat center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ccc !important;
}

.com_group:hover {
  background-color: #dfdfdf;
}

/* 群聊 Ends */

.com_goto .lui-praise-btn {
  border: 1px solid #d5d5d5;
  width: 48px;
  height: 48px;
  margin-top: 2px;
  border-radius: 4px;
}

.com_uncollapse {
  background: #fff url(/ekp/sys/ui/extend/theme/default/images/uncollapse.png) no-repeat center;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc
}

.com_uncollapse:hover {
  background: #dfdfdf url(/ekp/sys/ui/extend/theme/default/images/uncollapse.png) no-repeat center;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc
}

.collapsed {
  background: #fff url(/ekp/sys/ui/extend/theme/default/images/collapse.png) no-repeat center !important;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc
}

.collapsed:hover,
.collapsed.lui-icon-on {
  background-color: #dfdfdf !important;
}

.com_gototop {
  background: #47b5e6 url(/ekp/sys/ui/extend/theme/default/images/go_top.png);
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.com_gototop:hover {
  background: #c1c1c1 url(/ekp/sys/ui/extend/theme/default/images/go_top_on.png);
  width: 50px;
  height: 50px;
}

/*@展开||收起*/
.com_slideDown {
  margin-left: 12px;
  padding-left: 10px;
  font-size: 13px;
  text-decoration: underline;
  background: url(/ekp/sys/ui/extend/theme/default/images/doc_arrow.png) no-repeat 0 5px;
  cursor: pointer;
}

.com_slideUp {
  margin-left: 12px;
  padding-left: 10px;
  font-size: 13px;
  text-decoration: underline;
  background: url(/ekp/sys/ui/extend/theme/default/images/doc_arrow.png) no-repeat 0px -23px;
  cursor: pointer;
}

/** tb_normal 一般4列表格表单的样式 有边框线表格 **/
.tb_normal {
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px #d2d2d2 solid;
  padding: 8px !important;
  text-align: left;
  margin: 0 auto;
}

.tb_normal>tbody>.tr_normal_title {
  background-color: #f6f6f6;
  text-align: center;
}

.tb_normal>tbody>tr {
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}

.tb_normal>tbody>tr>td {
  padding: 8px;
  word-break: break-word;
  border-left: 1px #d2d2d2 solid;
  border-right: 1px #d2d2d2 solid;
}

.tb_normal .tb_normal>tbody>tr>td {
  padding: 5px;
}

/* 嵌套表格单元格间距减小以免表格过宽撑开表格宽度 */

.tb_normal>tbody>tr>.td_normal_title {
  background-color: #f6f6f6;
}

/*---------- 明细表操作按钮 ----------*/
.tb_normal .tr_normal_opt {
  background: url(/ekp/sys/ui/extend/theme/default/images/form/tr_normal_optBg.png) repeat left top;
  text-align: center;
  height: 36px;
  line-height: 36px;
}

.tb_normal .tr_normal_opt td {
  padding: 5px 8px;
  color: #fff;
}

.tr_normal_opt_content {
  width: 100%;
  position: relative;
  height: 36px;
  line-height: 36px;
}

.tr_normal_opt .tr_normal_opt_l {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

.tr_normal_opt .tr_normal_opt_c {
  text-align: center;
}

.tr_normal_opt .tr_normal_opt_r {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

.tr_normal_opt .opt_batchDel_style,
.tr_normal_opt .opt_add_style,
.tr_normal_opt .opt_up_style,
.tr_normal_opt .opt_down_style,
.tr_normal_opt .opt_import_style,
.tr_normal_opt .opt_export_style {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: text-top;
  background: url(/ekp/sys/ui/extend/theme/default/images/form/normal_opt_sprite.png) no-repeat 0 0;
}

.tb_normal .optStyle {
  display: inline-block;
}

.tb_normal .opt_batchDel_style {
  background-position: 0 0;
}

.tb_normal .opt_batchDel_style:HOVER {
  background-position: 0 -20px;
}

.tb_normal .opt_add_style {
  background-position: -20px 0;
}

.tb_normal .opt_add_style:HOVER {
  background-position: -20px -20px;
}

.tb_normal .opt_up_style {
  background-position: -40px 0;
}

.tb_normal .opt_up_style:HOVER {
  background-position: -40px -20px;
}

.tb_normal .opt_down_style {
  background-position: -60px 0;
}

.tb_normal .opt_down_style:HOVER {
  background-position: -60px -20px;
}

.tb_normal .opt_import_style {
  background-position: -80px 0;
}

.tb_normal .opt_import_style:HOVER {
  background-position: -80px -20px;
}

.tb_normal .opt_export_style {
  background-position: -100px 0;
}

.tb_normal .opt_export_style:HOVER {
  background-position: -100px -20px;
}

.opt_ck_style input {
  margin-right: 2px;
  position: relative;
  top: 2px;
}

.tr_normal_opt .tr_normal_opt_l .opt_batchDel_style {
  vertical-align: text-top;
  margin-left: 5px;
}

.tr_normal_opt .tr_normal_opt_c>.optStyle {
  margin: 0 2px;
}

.tr_normal_opt .tr_normal_opt_r .opt_export_style,
.tr_normal_opt .tr_normal_opt_r .opt_import_style {
  margin-right: 5px;
  vertical-align: text-top;
}

.tr_normal_opt .tr_normal_opt_r>.optStyle {
  margin-left: 10px;
}

/* MAC系统高清屏特殊处理  */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .opt_ck_style input {
    top: 0;
  }
}

.tb_normal .opt_add_compatible_style {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/icon_add_compatible.png);
  width: 24px;
  height: 24px;
}

.tb_normal .opt_add_compatible_style:HOVER {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/icon_add_compatible_hover.png);
}

.tb_normal .opt_copy_style {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/icon_copy.png);
  width: 16px;
  height: 16px;
}

.tb_normal .opt_copy_style:HOVER {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/icon_copy_hover.png);
}

.tb_normal .opt_del_style {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/icon_del.png);
  width: 16px;
  height: 16px;
}

.tb_normal .opt_del_style:HOVER {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/icon_del_hover.png);
}

.tb_normal input,
.tb_normal label,
.tb_normal select,
.tb_normal option {
  cursor: default;
}

/** tb_simple 一般2列表格表单的样式  无表框线表格 **/
.tb_simple {
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.tb_simple>tbody>.tr_normal_title {
  text-align: center;
}

.tb_simple>tbody>tr>td {
  padding: 5px;
  word-break: break-word;
}

.tb_simple>tbody>tr>.td_normal_title {
  text-align: right
}

body .eval_opt_table tr td {
  padding: 0 0px 6px !important;
}

.lui_eval_add_btn {
  width: 80px;
}

/*字段名称*/

/** tb_noborder 取消表格和单元格的边线 **/
.tb_noborder {
  background-color: #FFFFFF;
  margin: 0 auto;
  border-collapse: collapse;
  padding: 0px;
  border: none;
}

.tb_noborder>tbody>tr>td {
  padding: 0px;
  border: none;
}

/*- 门户部件 引用自定义页面 -*/
.lui_component_iframe_wrap {
  *white-space: -1px;
  font-size: 0;
}

/*--- 门户头部个人信息弹出框 ---*/
.lui_info_post_tb td {
  padding: 2px 0;
}

.lui_info_post_tb td,
.lui_info_post_tb td>* {
  font-size: 12px
}

.lui_info_post_tb td.lui_userinfo_title {
  white-space: nowrap;
  font-size: 12px;
}

.lui_info_link_tb td {
  padding: 0 2px;
}

.lui_info_link_tb .com_btn_link {
  white-space: nowrap;
}

/*系统全局字体颜色*/
.com_subject,
.lui_form_subject,
.txttitle {
  color: #3e9ece;
}

/*标题颜色*/
.com_subhead,
.lui_form_subhead {
  color: #5b5b5b;
}

/*副标题颜色*/
.td_normal_title,
.tr_normal_title>td {
  color: #000;
}

/*字段颜色*/
.com_author {
  color: #333;
}

/*外部作者*/
.com_outer_author {
  color: #333;
  cursor: inherit;
}

.com_outer_author:hover {
  color: #333 !important;
}

/*人名强调色*/
.com_author:hover {
  color: #F19703;
}

.com_number {
  color: #29aa19
}

/*数字强调色*/
.com_warn,
.txtstrong {
  color: #d02300
}

/*警告提示*/
.com_help,
.lui_form_baseinfo {
  color: #9e9e9e
}

/*辅助信息*/
.com_btn_link {
  color: #37ace1;
  text-decoration: underline;
}

/*弱化按钮*/
.com_prompt_more {
  vertical-align: text-top;
  display: inline-block;
  /*更多提示*/
  width: 6px;
  height: 6px;
  background-color: #fc4f4f;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.com_prompt_num {
  color: white;
  padding: 2px 3px;
  font-size: 10px;
  min-width: 12px;
  height: 12px;
  /*数字提示类*/
  background-color: #d93e1a;
  vertical-align: super;
  line-height: 12px;
  display: inline-block;
  text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.com_btn_link_light {
  text-decoration: underline;
}

.lui_popup_border_content .com_btn_link:hover {
  color: #db782c;
}

/*弱化按钮*/
.sys_notify_add {
  color: #37ace1 !important;
  text-decoration: underline;
}

/* 日程提醒 */

/*输入框提示信息字体颜色*/

/* WebKit browsers */
::-webkit-input-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/*
 支持 IE 浏览器，需添加 -ms- 前缀 
 支持 Firefox 浏览器，需添加 -moz- 前缀 
 支持 Google Chrome 浏览器，需添加 -webkit- 前缀 
 支持 Safari 浏览器，需添加 -webkit- 前缀 
 支持 Opera 浏览器，需添加 -o- 前缀 
 支持 Opera 浏览器，需添加 -xv- 前缀 */

/** 数据验证的样式 **/
.validation-advice,
.lui_validate {
  clear: both;
  margin: 5px 0;
  padding: 5px;
  background-color: #fff5d8;
  border: 1px solid #e0a385;
}

.lui_validate {
  cursor: pointer;
}

.validation-table {
  padding: 0px !important;
  margin: 0px !important;
}

.validation-table td {
  text-align: left;
  font-size: 12px;
  border: 0px;
  margin: 0px !important;
  padding: 0px 2px !important;
  line-height: 18px;
  vertical-align: middle;
}

.validation-table td:FIRST-CHILD {
  width: 18px !important;
}

.validation-table .lui_icon_s_icon_validator {
  vertical-align: text-bottom;
}

.validation-advice-msg {
  font-weight: bold;
}

.validation-advice-msg .validation-advice-title {
  color: #cc0000 !important;
  font-weight: bolder;
}

/*按钮背景色*/
.com_bgcolor_d {
  background-color: #47b5e6
}

.com_bgcolor_n {
  background-color: #47b5e6
}

.com_bgcolor_l {
  background-color: #d6d6d6
}

.com_bgcolor_d:hover {
  background-color: #2f9adb
}

.com_bgcolor_n:hover {
  background-color: #2f9adb
}

.com_bgcolor_l:hover {
  background-color: #c2c2c2
}

/*按钮边框色*/
.com_bordercolor_d {
  border-color: #35a1d0
}

.com_bordercolor_n {
  border-color: #35a1d0
}

.com_bordercolor_l {
  border-color: #c7c7c7
}

/*按钮字体颜色*/
.com_fontcolor_d {
  color: #fff
}

.com_fontcolor_n {
  color: #fff
}

.com_fontcolor_l {
  color: #fff
}

/*Ie8不支持 屏幕宽度小于等于1280*/
.width15 {
  width: 15px;
}

.width20 {
  width: 20px;
}

.width30 {
  width: 30px;
}

.width40 {
  width: 40px;
}

.width60 {
  width: 60px;
}

.width80 {
  width: 80px;
}

.width100 {
  width: 100px;
}

.width120 {
  width: 120px;
}

.width140 {
  width: 140px;
}

.width160 {
  width: 160px;
}

.width180 {
  width: 180px;
}

.width200 {
  width: 200px;
}

.width250 {
  width: 250px;
}

/*屏幕宽度在1280和1536之间*/
@media screen and (min-device-width:1281px) and (max-device-width:1537px) {
  .rwd .width15 {
    width: 18px;
  }

  .rwd .width20 {
    width: 24px;
  }

  .rwd .width30 {
    width: 36px;
  }

  .rwd .width40 {
    width: 48px;
  }

  .rwd .width60 {
    width: 72px;
  }

  .rwd .width80 {
    width: 96px;
  }

  .rwd .width100 {
    width: 120px;
  }

  .rwd .width120 {
    width: 144px;
  }

  .rwd .width140 {
    width: 168px;
  }

  .rwd .width160 {
    width: 192px;
  }

  .rwd .width180 {
    width: 216px;
  }

  .rwd .width200 {
    width: 240px;
  }

  .rwd .width250 {
    width: 300px;
  }
}

/*屏幕宽度在1536和1792之间*/
@media screen and (min-device-width:1537px) and (max-device-width:1793px) {
  .rwd .width15 {
    width: 23px;
  }

  .rwd .width20 {
    width: 30px;
  }

  .rwd .width30 {
    width: 45px;
  }

  .rwd .width40 {
    width: 60px;
  }

  .rwd .width60 {
    width: 90px;
  }

  .rwd .width80 {
    width: 120px;
  }

  .rwd .width100 {
    width: 150px;
  }

  .rwd .width120 {
    width: 180px;
  }

  .rwd .width140 {
    width: 210px;
  }

  .rwd .width160 {
    width: 240px;
  }

  .rwd .width180 {
    width: 270px;
  }

  .rwd .width200 {
    width: 300px;
  }

  .rwd .width250 {
    width: 375px;
  }
}

/*屏幕宽度在1792和2048之间*/
@media screen and (min-device-width:1793px) and (max-device-width:2049px) {
  .rwd .width15 {
    width: 26px;
  }

  .rwd .width20 {
    width: 35px;
  }

  .rwd .width30 {
    width: 53px;
  }

  .rwd .width40 {
    width: 70px;
  }

  .rwd .width60 {
    width: 105px;
  }

  .rwd .width80 {
    width: 140px;
  }

  .rwd .width100 {
    width: 175px;
  }

  .rwd .width120 {
    width: 210px;
  }

  .rwd .width140 {
    width: 245px;
  }

  .rwd .width160 {
    width: 280px;
  }

  .rwd .width180 {
    width: 315px;
  }

  .rwd .width200 {
    width: 350px;
  }

  .rwd .width250 {
    width: 465px;
  }
}

/*屏幕宽度大于等于2048*/
@media screen and (min-device-width:2049px) {
  .rwd .width15 {
    width: 30px;
  }

  .rwd .width20 {
    width: 40px;
  }

  .rwd .width30 {
    width: 60px;
  }

  .rwd .width40 {
    width: 80px;
  }

  .rwd .width60 {
    width: 120px;
  }

  .rwd .width80 {
    width: 160px;
  }

  .rwd .width100 {
    width: 200px;
  }

  .rwd .width120 {
    width: 240px;
  }

  .rwd .width140 {
    width: 280px;
  }

  .rwd .width160 {
    width: 320px;
  }

  .rwd .width180 {
    width: 360px;
  }

  .rwd .width200 {
    width: 400px;
  }

  .rwd .width250 {
    width: 500px;
  }
}

/*浏览器兼容提示*/
.browserTip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: yellow;
  line-height: 20px;
  text-align: center;
  display: block;
  height: 20px;
}

.browserTip div {
  padding-left: 10px;
  cursor: pointer;
  display: inline;
  padding-left: 5px;
  line-height: 20px;
}

/*右侧按钮 二维码和其他业务模块按钮加权重置 Starts*/
body .forum_shortcut_menu {
  bottom: 204px !important;
  right: 18px;
}

.forum_shortcut_menu ul li,
.edit_forum_shortcut_menu ul li {
  width: auto !important;
  height: auto !important;
  border: 0 !important;
  background: none !important;
}

.forum_shortcut_menu ul li a,
.edit_forum_shortcut_menu ul li a {
  width: 48px !important;
  height: 48px !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  transition: all 0.3s;
}

.forum_shortcut_menu ul li a:hover,
.edit_forum_shortcut_menu ul li a:hover {
  background-color: #dfdfdf !important;
}

.forum_shortcut_menu ul li .menu1 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/01-1.png) !important;
}

.forum_shortcut_menu ul li .menu2 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/03-1.png) !important;
}

.forum_shortcut_menu ul li .menu3,
.edit_forum_shortcut_menu ul .menu3 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/02-1.png) !important;
}

.work_comm_menu,
.pindagate_menu {
  bottom: 179px !important;
  border-bottom: 0 !important;
}

.work_comm_menu ul li,
.pindagate_menu ul li {
  margin-top: -1px;
  width: 48px !important;
  height: 48px !important;
  transition: all 0.3s;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}

.work_comm_menu ul li:hover,
.pindagate_menu ul li:hover {
  background-color: #dfdfdf !important;
}

.work_comm_menu ul li.item_1 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/06-1.png) !important;
}

.work_comm_menu ul li.item_2 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/04-1.png) !important;
}

.work_comm_menu ul li.item_3 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/15.png) !important;
}

.work_comm_menu ul li.item_4 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/12-1.png) !important;
}

.pindagate_menu ul li.item_1 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/vote_icon_1.png) !important;
}

.pindagate_menu ul li.item_2 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/vote_icon_2.png) !important;
}

.pindagate_menu ul li.item_3 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/vote_icon_3.png) !important;
}

.pindagate_menu ul li.item_4 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/vote_icon_4.png) !important;
}

.pindagate_menu ul li.item_5 {
  background-image: url(/ekp/sys/ui/extend/theme/default/images/toolbar/vote_icon_5.png) !important;
}

/*右侧按钮 二维码和其他业务模块按钮加权重置 Ends*/

/*------ document.css相关代码移入  开始 ------*/

/** 简单的通用样式 **/
.txttitle {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #3e9ece;
  font-weight: bold;
}

.txtstrong {
  color: #FF0000;
  font-weight: normal;
  display: inline-block;
  *display: inline;
}

.inputread {
  border: 0px;
  color: #868686;
}

.inputread_normal {
  border: 0px;
}

.td_label0 {
  text-align: left;
  vertical-align: baseline !important;
  font-size: 2px !important;
  padding: 0px !important;
  border: 0px !important;
  height: 30px;
  border-bottom: 2px solid #58c0ee !important;
}

.td_label0 nobr {
  margin-right: 2px;
}

.td_label0 nobr input {
  overflow: visible;
  width: auto;
  _width: 0;
}

.btnlabel1 {
  height: 30px;
  border: 0px;
  padding: 2px 3px 0px 3px;
  margin: 0px;
  color: #fff;
  cursor: pointer;
}

.btnlabel2 {
  height: 30px;
  border: 0px;
  padding: 2px 3px 0px 3px;
  margin: 0px;
  color: #47b5e6;
  cursor: pointer;
}

.Bold {
  font-weight: bold;
}

.btnopt {
  color: #fff;
  background-color: #47b5ea;
  height: 22px;
  line-height: 22px;
  padding: 0px 5px;
  border: 0px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnopt:hover {
  color: #73caf1;
  border-color: #73caf1
}

.btnopt.btngray {
  background-color: #fafafa;
  color: #47b5e6;
  border: 1px #bbbbbb solid;
}

.btnopt.btngray:hover {
  color: #2f9adb;
}

.btnoptmouseover {
  color: #73caf1;
  border-color: #73caf1
}

.Code {
  border: #8b4513 1px solid;
  padding-right: 5px;
  padding-left: 5px;
  color: #000066;
  background-color: #ff9933;
}

.maxwinicon {
  position: absolute;
  left: 10px;
  width: 23px;
  height: 23px;
}

#optBarDiv {
  display: none;
}

.upload {
  color: #0066FF;
  background-color: #F0F0F0;
  border: 1px #999999 solid;
  font-weight: normal;
  padding: 0px 1px 1px 0px;
  /*height: 18px;*/
  clip: rect();
}

.td_optbar,
.tb_optbar td {
  padding: 2px 10px 2px 0px;
  text-align: right;
}

.txtwarn,
description_txt {
  color: #FF0000;
}

.textdescription {
  font-size: 12px;
  color: blue
}

.tb_label {
  border-collapse: collapse !important;
}

.td_label {
  background-color: #FFFFFF !important;
  border-left-style: none !important;
  border-left-width: 0px !important;
  border-top-width: 0px !important;
  padding-top: 6px;
}

/*.Title{font-weight: bold;font-size: 18px;color: #cc3300;}*/


/** tb_noborder 取消表格和单元格的边线 **/
.tb_noborder {
  background-color: #FFFFFF;
  margin: 0px;
  border-collapse: collapse;
  padding: 0px;
  border: 0px;
}

.tb_noborder td {
  padding: 0px;
  border: 0px;
}

/* 表单编辑器 源码模式 */
.srceditor .btnopt {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 12px;
  letter-spacing: 0;
}

.srceditor .btnopt:hover {
  color: #fff;
  background: #43ace0;
}

.srceditor .btnopt:first-child {
  margin-left: 10px;
}

.srceditor>div {
  padding: 10px;
}

/*----- 后台配置路径  -----*/
.txtlistpath {
  padding: 10px 0 10px 20px;
  color: #2792C6;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px dotted #ddd;
  background-color: #fff;
  /* 遮挡左侧滚动条 */
  display: block;
}

.txtlistpath:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}

.txtlistpath>div {
  font-size: 12px;
}

.profile_config_title {
  color: #47b5e6;
}

.txtlistpath>.lui_icon_s {
  margin-left: -20px;
  float: left;
  position: relative;
  top: 1px;
}

/*------ document.css相关代码移入  结束 ------*/

/* MAC系统高清屏特殊处理  点评 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .lui_icon_s_stargood {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/stargood@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_starbad {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/starbad@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_poor {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/poor@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_recommend {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/recommend@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_bad {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/bad@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_good {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/good@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_stargood {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/stargood@2x.png);
    background-size: 16px;
  }

  .lui_icon_s_starbad {
    background-image: url(/ekp/sys/ui/extend/theme/default/icon/s/starbad@2x.png);
    background-size: 16px;
  }
}

/*------------------- 打印样式 -------------------*/
.btnprint .lui_toolbar_frame_float .lui_toolbar_content {
  width: 1000px;
}

@media print {
  body {
    background: #fff;
  }

  body,
  td {
    color: #000 !important;
  }

  /*- 页面间距 -*/

  .tb_normal {
    border-color: #000 !important;
  }

  .tb_normal>tbody>tr>td {
    border-color: #000 !important;
  }

  .lui_form_content {
    padding: 0 !important;
  }

  /*- 操作按钮隐藏 -*/
  #optBarDiv,
  #S_OperationBar,
  #optBarDiv.btnprint,
  #optBtnBarDiv {
    display: none;
  }

  body.lui_print_body {
    margin-top: 0 !important;
  }

  .lui_print_body .tempTB {
    width: 100%;
  }

  .xform_textArea {
    height: auto !important;
    display: block !important;
  }

}

@font-face {
  font-family: "fontmui";
  src: url(../font/iconfont-unicode.eot);
  /* IE9*/
  src: url(../font/iconfont-unicode.eot#iefix) format('embedded-opentype'),
    /* IE6-IE8 */
    url(../font/iconfont-unicode.woff) format('woff'),
    /* chrome, firefox */
    url(../font/iconfont-unicode.ttf) format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont-unicode.svg#fontmui) format('svg');
  /* iOS 4.1- */
}

.fontmui {
  font-family: "fontmui" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}

/*---------- 矢量图标 fontclass 引用----------*/


@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont.eot);
  /* IE9*/
  src: url(../font/iconfont.eot#iefix) format('embedded-opentype'),
    /* IE6-IE8 */
    url(../font/iconfont.woff) format('woff'),
    /* chrome, firefox */
    url(../font/iconfont.ttf) format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont.svg#fontmui) format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*---------- 矢量图标 系统导航 fontclass 引用----------*/
@font-face {
  font-family: "iconfont_nav";
  src: url(../font/iconfont-nav.eot);
  /* IE9*/
  src: url(../font/iconfont-nav.eot#iefix) format('embedded-opentype'),
    /* IE6-IE8 */
    url(../font/iconfont-nav.woff) format('woff'),
    /* chrome, firefox */
    url(../font/iconfont-nav.ttf) format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont-nav.svg#fontmui) format('svg');
  /* iOS 4.1- */
}

.iconfont_nav {
  font-family: "iconfont_nav" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*---------- 矢量图标 后台配置 选择图标弹出框----------*/
.lui_iconfont_selectIcon,
.iconfont_nav .lui_iconfont_selectIcon,
.iconfont .lui_iconfont_selectIcon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #e5e5e5;
  font-size: 40px;
  color: #666;
}

/* 时间控件 Starts
   ========================================================================== */
.lui_muldatepicker {}

.lui_muldatepicker .ui-muldatepicker-select a {
  color: #15a4fa;
  border-color: #15a4fa;
}

/* 时间控件 Ends
   ========================================================================== */

/* 日历选择框 Starts
   ========================================================================== */
.ui-datepicker.ui-widget-content {
  width: 22em;
}

/* 日历选择框 Ends
   ========================================================================== */


.lui_widget_iframe {
  border: 0;
  width: 100%;
  /* min-height:600px; */
}

body .lecturerInfo {
  padding: 10px;
}

/* 批量删除 Starts */
.lui_dialog_deleteTips {
  width: 100%;
  padding-bottom: 10px;
}

.lui_dialog_deleteTips .radioUl {
  text-align: center;
}

.lui_dialog_deleteTips .radioUl label {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.lui_dialog_deleteTips .radioUl span {
  margin-left: 5px;
}

.lui_dialog_deleteTips .tips {
  display: none;
}

/* 批量删除 Ends */


/* 表格自定义表单元素样式 Starts
   ========================================================================== */
.tb_normal .xform_textArea textarea {
  padding-left: 0;
  padding-right: 0;
}

.tb_normal .td_normal_title .xform_label {
  white-space: nowrap;
}

/* 表格自定义表单元素样式 Ends
   ========================================================================== */



/*************当前主题***************/
html {
  /*min-height: 100%;
  height: auto!important;
	position: relative;
  position: static\9;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
input,
textarea,
div,
a,
table,
tr,
td,
th {
  font-size: 14px;
}

body {
  color: #333;
}

div {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  transition-duration: .3s;
  cursor: pointer;
}

a:hover {
  color: #4285f4;
}

input,
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*文本颜色 Starts*/
.lui_text_primary {
  color: #4285f4;
}

/*主色值*/
.lui_text_alter {
  color: #346ac3;
}

/*主色交互色值*/

.lui_text_info {
  color: #333;
}

/*默认文本*/
.lui_text_muted {
  color: #999;
}

/*弱化文本*/

.lui_text_warning {
  color: #ef741c;
}

/*警告*/
.lui_text_danger {
  color: #ea4335;
}

/*危险*/

/*文本颜色 Ends*/

/*----- 后台配置路径  -----*/
.txtlistpath {
  padding-left: 0;
  color: #4285f4;
  border-bottom: 1px dotted #ddd;
}

.txtlistpath>.lui_icon_s {
  display: none;
}


.lui-component {}

.textEllipsis {
  width: auto;
  max-width: 99%;
}

.com_subject,
.txttitle {
  color: #333;
}

.com_author {
  color: #4285f4 !important
}

.com_author:hover {
  color: #4285f4;
}

.com_btn_link {
  color: #4285f4;
  text-decoration: none;
}

.com_btn_link:hover {
  color: #346ac3 !important;
  text-decoration: underline;
}

.com_goto {
  width: auto;
  position: fixed;
  bottom: 48px;
  right: 18px;
  z-index: 89;
}

.com_gototop {
  margin-top: 2px;
  background: rgba(0, 0, 0, .35) url(../images/go_top.png) no-repeat 50%;
  background: #8c8c8c url(../images/go_top.png) no-repeat 50%\9;
  border: 1px solid rgba(0, 0, 0, .05);
  border: 1px solid #5f5f5f\9;
  border-radius: 4px;
  position: relative;
  bottom: 0;
  cursor: pointer;
  text-align: center;
  line-height: 1.2;
  transition-duration: .3s;
}

.com_gototop:hover {
  background: rgba(0, 0, 0, .55) url(../images/go_top.png) no-repeat 50% 40%;
  background: #3a3a3a url(../images/go_top.png) no-repeat 50% 40%\9;
  transition-duration: .3s;
}

.com_gototop,
.com_gototop:hover,
.com_gototop:hover:after {
  width: 48px;
  height: 48px;
  text-align: center;
}

.com_gototop:hover:after {
  /*content: '返回顶部';*/
  color: #fff;
  font-size: 13px;
  padding: 7px 8px;
  width: 32px;
  height: 34px;
  display: block;
}

.com_qrcode,
.com_group {
  margin-top: 2px;
  border: 1px solid #d5d5d5 !important;
  border-radius: 4px;
}

.com_qrcode:hover,
.com_group:hover {
  background-color: #f3f3f3;
}

.com_uncollapse {
  margin-top: 2px;
  width: 48px;
  height: 48px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-color: #fff;
  background: #fff url(../images/uncollapse.png) no-repeat 50%;
  transition-duration: .3s;
}

.com_uncollapse:hover {
  width: 48px;
  height: 48px;
  background: #dfdfdf url(../images/uncollapse.png) no-repeat 50% !important;
}

.com_uncollapse.collapsed {
  background: url(../images/collapse.png) no-repeat 50% !important;
}

.com_uncollapse.collapsed:hover {
  width: 48px;
  height: 48px;
  background: #dfdfdf url(../images/collapse.png) no-repeat 50% !important;
}

.work_comm_menu,
.pindagate_menu {
  right: 18px;
}


.td_normal_title,
.tr_normal_title>td {
  vertical-align: middle;
}

/*点评*/
body .eval_opt_table tr:first-child td {
  padding: 10px 0 !important;
}

/*按钮背景色*/
.com_bgcolor_d {
  border-radius: 4px;
  background-color: #4285f4;
  transition: all .3s ease-in-out;
}

.com_bgcolor_n {
  border-radius: 4px;
  background-color: #4285f4;
  transition: all .3s ease-in-out;
}

.com_bgcolor_l {
  border-radius: 4px;
  background-color: #d6d6d6;
  transition: all .3s ease-in-out;
}

.com_bgcolor_d:hover {
  background-color: #4285f4;
}

.com_bgcolor_n:hover {
  background-color: #346ac3;
}

.com_bgcolor_l:hover {
  background-color: #d5d5d5;
}

/*按钮边框色*/
.com_bordercolor_d {
  border-color: #4285f4;
}

.com_bordercolor_n {
  border-color: #346ac3;
}

.com_bordercolor_l {
  border-color: #d5d5d5;
}

.lui_wiki_catelog_btn_c {
  width: 48px;
  height: 48px;
  background: #fff url(../images/toolbar/catalog_btn.png) no-repeat 50%;
  border: 1px solid #d5d5d5;
  transition: all .3s ease-in-out;
}

.lui_wiki_catelog_btn_c:hover {
  border-color: #dfdfdf;
  background: #dfdfdf url(../images/toolbar/catalog_btn.png) no-repeat 50%;
}

.com_prompt_more {
  vertical-align: text-top;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fc4f4f;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 2px;
}

.lui_accordionpanel_header_l .com_prompt_more {
  position: relative;
  top: -6px;
  right: -2px;
}

.com_number {
  color: #ef741c;
}

.com_prompt_num {
  margin-left: 3px;
  color: #fff;
  padding: 2px 3px;
  font-family: Arial;
  font-size: 12px;
  min-width: 12px;
  height: 12px;
  line-height: 12px;
  vertical-align: super;
  display: inline-block;
  text-align: center;
  background-color: #ea4335;
  border-radius: 20px;
}

/*---------- 输入框提示信息字体颜色 ----------*/
/* WebKit browsers */
::-webkit-input-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/*屏幕宽度小于等于1280*/
@media screen and (max-width: 1280px) {
  /*.width15 {width:19px;}
  .width20 {width:25px;}
  .width30 {width:38px;}
  .width40 {width:50px;}
  .width60 {width:75px;}
  .width80 {width:100px;}
  .width100 {width:125px;}
  .width120 {width:150px;}
  .width140 {width:175px;}
  .width160 {width:200px;}
  .width180 {width:225px;}
  .width200 {width:250px;}
  .width250 {width:315px;}*/
}


.tb_simple>tbody>tr>td {
  padding: 8px 5px;
  word-break: break-all
}

/*=== webkit浏览器滚动条样式修改 Starts =============================================*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #d1d1d1;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

::-webkit-scrollbar:hover {
  background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  height: 50px;
  outline-offset: -1px;
  outline: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: #9c9c9c;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
}

/*=== webkit浏览器滚动条样式修改 Ends ===============================================*/

/** KMS业务模块内样式临时处理 Starts */
body .kms_exam_portlet_le_info_cur span.title,
body .kms_exam_portlet_le_info_cur span.credit {
  font-size: 12px;
}

/** KMS业务模块内样式临时处理 Ends */

/** 三级页面上传文件 Starts */
body .lui_upload_img_container .lui_upload_list_swfuploadbutton {
  margin: 0 auto;
  float: none;
  width: 72px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: block;
  border-radius: 4px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

body .lui_upload_img_container .lui_upload_list_swfuploadbutton:hover {
  border-color: #346ac3;
  background-color: #346ac3;
}

body .lui_upload_img_container .lui_upload_img_button {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 5px 0;
}

body .lui_upload_img_container .lui_upload_img_content {
  position: absolute;
  top: 0;
  bottom: 38px;
  left: 0;
  right: 0;
  background-color: #F2F2F2;
}

body .task_slideUp,
body .task_slideDown {
  margin-left: 0;
  padding-left: 16px;
  font-size: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 0 50%;
  cursor: pointer;
}

body .task_slideUp {
  background-image: url(../images/portal/icon_arrowU_blue.png);
}

body .task_slideDown {
  background-image: url(../images/portal/icon_arrowd_blue.png);
}

/** 三级页面上传文件 Ends */

/** 快速审批按钮 Starts */
body .com_approval_bar2 {
  width: 32px;
  background: none;
  position: fixed;
  left: 50%;
  top: 43px;
  z-index: 2;
  cursor: normal;
}

body .com_approval_bar2 .com_ap_bar2_bottom {
  padding-bottom: 0;
  background: none;
}

body .com_approval_bar2 .com_ap_bar2_centre {
  padding: 0;
  text-align: center;
  background-color: transparent;
}

body .com_approval_bar2 .com_ap_bar2_centre span {
  padding: 28px 8px 8px;
  line-height: 1.3;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: #4285f4 url(../icon/s/icon_sp2_top.png) no-repeat 50% 8px;
  transition: all .3s ease;
  display: block;
  cursor: pointer;
  word-break: break-all;
  position: relative;
}

body .com_approval_bar2 .com_ap_bar2_centre span:after,
body .com_approval_bar2 .com_ap_bar2_centre span:before {
  content: '';
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: dashed;
  border-color: transparent;
  position: absolute;
  bottom: -14px;
}

body .com_approval_bar2 .com_ap_bar2_centre span:after {
  border-style: solid solid dashed dashed;
  border-color: #4285f4 #4285f4 transparent transparent;
  right: 0;
}

body .com_approval_bar2 .com_ap_bar2_centre span:before {
  border-style: solid dashed dashed solid;
  border-color: #4285f4 transparent transparent #4285f4;
  left: 0;
}

body .com_approval_bar2 .com_ap_bar2_centre span:hover {
  background-color: #346ac3;
}

body .com_approval_bar2 .com_ap_bar2_centre span:hover:after {
  border-color: #346ac3 #346ac3 transparent transparent;
}

body .com_approval_bar2 .com_ap_bar2_centre span:hover:before {
  border-color: #346ac3 transparent transparent #346ac3;
}

body .tb_noborder td .upload_list_filename_edit {
  color: #4285f4;
}

/** 快速审批按钮 Ends */

/*流程处理意见 增加间距*/
.tb_noborder #optionButtons {
  padding-bottom: 10px;
}

/*流程机制 启动通知 input居中*/
.td_label #dayOfNotifyDrafter,
.td_label #hourOfNotifyDrafter,
.td_label #minuteOfNotifyDrafter {
  text-align: center;
}

.tb_normal>tbody>tr>td {
  /*padding: 6px!important; 注释掉 因为!important可能会出现表格对不齐的情况*/
  padding: 6px;
  word-break: break-word;
  /*border: 1px solid #d2d2d2!important;注释掉 因为!important可能会出现表格用内联样式去掉了边框不成功的情况*/
  border: 1px solid #d2d2d2;
}

/*选择关联文档按钮样式皮肤化 Starts*/
.tb_normal>tbody>tr>td .lui_linkDoc_btn {
  padding: 3px 5px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #4285f4;
  color: #4285f4;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.tb_normal>tbody>tr>td .lui_linkDoc_btn:hover {
  color: #fff;
  background-color: #4285f4;
}

.tb_normal>tbody>tr>td .lui_linkDoc_btn i {
  vertical-align: text-top;
}

/*选择关联文档按钮样式皮肤化 Ends*/

/*--- 后台配置相关 ---*/
.profile_config_title {
  color: #4285f4;
}

/*--- 数据验证方式 ---*/
.validation-advice,
.lui_validate {
  background: transparent;
  border: none;
  color: #f00;
  padding: 0;
}

.validation-advice-msg .validation-advice-title {
  color: #ff6600 !important;
}

.validation-advice .lui_icon_s_icon_validator {
  vertical-align: text-bottom;
}

.validation-table td {
  color: #5b5b5b;
}

/*----- 日历选择框 -----*/
.ui-datepicker.ui-widget-content {}

.ui-datepicker .ui-datepicker-header {
  background: #f0f0f0;
  border-radius: 0;
  border: none;
}

.ui-datepicker .ui-datepicker-header .ui-icon {
  background-image: url(../images/calendar/date_arrow.png);
}

.ui-datepicker .ui-icon-circle-triangle-w {
  background-position: 0 0;
}

.ui-datepicker .ui-state-hover .ui-icon-circle-triangle-w {
  background-position: 0 -16px;
}

.ui-datepicker .ui-icon-circle-triangle-e {
  background-position: -16px 0;
}

.ui-datepicker .ui-state-hover .ui-icon-circle-triangle-e {
  background-position: -16px -16px;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
  /*background:none; border:none;*/
}

.ui-datepicker .ui-datepicker-header .ui-state-default {
  /*border:none;*/
}

.ui-datepicker .ui-datepicker-calendar th {
  border-bottom: 1px solid #d5d5d5;
}

.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  display: inline-block;
  border: none;
  background: none;
  text-align: center;
  color: #333;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.ui-datepicker .ui-datepicker-calendar td:hover .ui-state-default {
  border-color: #4285f4;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight {
  background: #4285f4;
  color: #fff;
  border-color: #4285f4;
}

.ui-datepicker-buttonpane .ui-state-default {
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
  border-radius: 0;
  background: #fff;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  margin-right: 5px;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active {
  border-color: #4285f4;
}

/* MAC系统高清屏特殊处理 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .lui_icon_s_home {
    background-image: url(../icon/s/home@2x.png);
    background-size: 16px 16px;
  }

  /*--- 数据验证 ---*/
  .lui_icon_s_icon_validator {
    background: url(../icon/s/icon_validator@2x.png);
    background-size: 16px 16px;
  }
}

.lui_popup_border_content .com_btn_link:hover {
  color: #4285f4;
}


/*右侧底部按钮背景色淡化 Starts*/
body .pindagate_progress {
  right: 18px;
  width: 48px;
  border-color: #4285f4;
  border-radius: 4px;
  overflow: hidden;
}

body .pindagate_menu {
  right: 18px;
}

body .pindagate_menu ul li {
  background-color: rgba(255, 255, 255, .8) !important;
}

body .pindagate_menu ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

body .pindagate_menu ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

body .myShortWin,
body .lui_lservice_admin_off,
body .lui_lservice_teach_off,
body .lui_lservice_stu_off,
.com_qrcode,
.com_group,
.com_uncollapse.collapsed,
.com_goto .lui-praise-btn {
  background-color: rgba(255, 255, 255, .8);
}

.lui_wiki_catelog_btn_c.lui_icon_l_icon_51 {
  border: 1px solid #d5d5d5;
  background-color: rgba(255, 255, 255, .8) !important;
}

.lui_wiki_catelog_btn_c.lui_icon_l_icon_51:hover {
  background-color: #dfdfdf !important;
}

/*KM的*/
body .lui_lservice_stu_on,
body .lui_lservice_stu_off,
body .lui_lservice_admin_on,
body .lui_lservice_admin_off,
body .lui_lservice_teach_on,
body .lui_lservice_teach_off {
  border-radius: 4px;
}

/*右侧底部按钮背景色淡化 Ends*/

/*switch 主题包优化 Starts*/
body .weui_switch input:checked+span {
  -webkit-box-shadow: #4285f4 0 0 0 13.5px inset;
  box-shadow: #4285f4 0 0 0 13.5px inset;
  border-color: #4285f4;
  background-color: #4285f4;
}

/*switch 主题包优化 Ends*/

/* 电子期刊 主题包优化 Starts */
.magazine_rowtable_summary_box {
  cursor: pointer;
}

.magazine_rowtable_summary_box:hover .list-item .txttitle,
.magazine_rowtable_summary_box:hover .list-item .com_subject {
  color: #4285f4;
}

/* 电子期刊 主题包优化 Ends */


/* 购物车 主题包优化 Starts */
.lui_list_body_frame .cartName {
  border-bottom: 2px solid #4285f4;
}

/* 购物车 主题包优化 Ends */

/*积分商城 商品详情 starts*/
.td_label0,
.viewProDetaiTable .td_label0 {
  border-bottom: 2px solid #4285f4 !important;
}

/*积分商城 商品详情 ends*/


/*【个人流程中心-流程发起】 主题包优化 starts*/
body .head_div_wrap {}

body .head_div_box>.item {
  border-radius: 4px;
}

body .lui-backstage-panel {
  padding-left: 10px;
  padding-right: 10px;
}

body .lui-backstage-panel-heading {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid #d5d5d5;
}

body .lui-backstage-panel-heading>input[type='text'] {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

body .lui-backstage-panel-heading>.lui_form_button {
  color: #fff;
  border-radius: 4px;
  background-color: #4285f4;
  transition-duration: .3s;
}

body .lui-backstage-panel-heading>.lui_form_button:hover {
  color: #fff;
  background-color: #346ac3;
}

body .lui-backstage-panel-heading-title {
  margin: -10px 0 -1px;
  padding: 15px 5px 10px;
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

body .lui-backstage-panel-list>li a:hover,
body .lui-backstage-panel-list>li a:hover .txt,
body .lui-backstage-panel-list .next-level-list li a:hover .txt {
  color: #4285f4;
}

body .lui-backstage-panel-list>li a img {
  position: relative;
  top: 2px;
}

/*【个人流程中心-流程发起】 主题包优化 ends*/


/*【个人流程中心-流程发起】右侧按钮 主题包优化 Starts*/
body .forum_shortcut_menu ul li:first-child a,
body .edit_forum_shortcut_menu ul li:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

body .forum_shortcut_menu ul li:last-child a,
body .edit_forum_shortcut_menu ul li:last-child a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*【个人流程中心-流程发起】右侧按钮 主题包优化 ends*/

/* 赞赏回复 Starts */
body {
  background-color: #F7F7F7;
}

/* 赞赏回复 Ends */